In [5]:
import pandas as p
data = [[1,2,3,51,8],[5,4,3,6,7],[4,2,8,1,5],[1,2,5,8,7],[1,2,5,8,9],[5,4,3,6,7]]

columns  = ['champ1','champ2','champ3','champ4','champ5']
df = p.DataFrame(data,columns=columns)
df

   champ1  champ2  champ3  champ4  champ5
0       1       2       3      51       8
1       5       4       3       6       7
2       4       2       8       1       5
3       1       2       5       8       7
4       1       2       5       8       9
5       5       4       3       6       7

In [6]:
df.duplicated()

0    False
1    False
2    False
3    False
4    False
5     True
dtype: bool

In [7]:
from random import randint as r

randomList = [r(0,1000),r(1001,2000),r(2001,3000),r(3001,5001),r(6001,10000)]
print(randomList)
data = []
l= []
for i in range(1,10000):
    l = [r(1,5),r(10,50),r(3,20),r(5,55),r(10,65)]
    data.append(l)
    if i in randomList:
        data.append(l)
        randomList.remove(i)
print(randomList) 
columns  = ['champ1','champ2','champ3','champ4','champ5']
df = p.DataFrame(data,columns=columns)
df

[60, 1647, 2730, 3468, 6944]
[]

       champ1  champ2  champ3  champ4  champ5
0           2      15      15      39      25
1           1      29       4      12      49
2           4      26      18       9      65
3           4      45       6      43      32
4           3      38      18      10      52
5           4      27       7      52      60
6           4      12      12      44      56
7           5      50      20      54      52
8           1      46      13      37      43
9           5      41      13      22      36
10          2      39      17      48      10
11          5      18       4      17      59
12          4      26       9      32      26
13          1      26      16      21      12
14          5      40       7      54      51
15          1      30       9      33      13
16          3      50      14      48      35
17          4      29       9      46      61
18          2      30      19      36      15
19          1      13      12      28      11
20          3      49       8      42      16
21          2      46       5      34      37
22          1      45      16      37      42
23          4      15       5       5      50
24          5      18       5      42      45
25          1      37      17      22      24
26          1      33      11      31      37
27          4      47      19      44      29
28          3      49      15       5      43
29          4      49      20      44      57
...       ...     ...     ...     ...     ...
9974        3      36      19      33      58
9975        5      35      13      47      49
9976        2      46      20      25      44
9977        5      14      13       8      38
9978        4      37      19      54      35
9979        2      33      11      12      12
9980        5      47       6      44      22
9981        4      11      11      18      32
9982        4      39      20      48      22
9983        2      45      18      27      18
9984        5      28      19      20      23
9985        5      44      19      16      32
9986        5      16       5      43      55
9987        5      17      12      12      46
9988        5      10      20      10      46
9989        3      33      16      17      63
9990        2      19      20       7      29
9991        1      22      16      15      46
9992        1      15      14      31      39
9993        1      39      17      50      65
9994        2      47       6      39      40
9995        4      14      17      31      26
9996        1      14       6      37      49
9997        5      41      13      38      47
9998        3      13       3       9      44
9999        2      25      15      15      23
10000       5      29      14      41      46
10001       5      46      16      39      21
10002       5      14      12      19      46
10003       4      42       3      35      26

[10004 rows x 5 columns]

In [9]:
df.duplicated().sum()

11

In [10]:
df.loc[df.duplicated(),:]

      champ1  champ2  champ3  champ4  champ5
60         2      44      16      23      64
1648       1      18       4      52      44
2732       5      18      15      33      46
3471       4      26       4      39      29
4395       4      34      15      12      19
6948       3      24      18      47      38
7906       2      15       8      26      41
8191       2      38      16      27      43
8899       2      19      15      34      25
9309       1      40      13       7      42
9385       3      44      10      35      14

In [11]:
df.iloc[1930:1940]

      champ1  champ2  champ3  champ4  champ5
1930       5      50       4      16      56
1931       5      48       9      40      22
1932       3      30      17      21      30
1933       1      30      13      27      29
1934       2      36       4      36      31
1935       1      19      10       8      43
1936       1      24      13      36      31
1937       4      29      11       9      40
1938       5      50      11      44      14
1939       4      45      17      53      39

In [12]:
df.loc[df.duplicated(keep='first'),:]

      champ1  champ2  champ3  champ4  champ5
60         2      44      16      23      64
1648       1      18       4      52      44
2732       5      18      15      33      46
3471       4      26       4      39      29
4395       4      34      15      12      19
6948       3      24      18      47      38
7906       2      15       8      26      41
8191       2      38      16      27      43
8899       2      19      15      34      25
9309       1      40      13       7      42
9385       3      44      10      35      14

In [13]:
df.drop(9385,inplace=True)

In [14]:
df.loc[df.duplicated(),:]

      champ1  champ2  champ3  champ4  champ5
60         2      44      16      23      64
1648       1      18       4      52      44
2732       5      18      15      33      46
3471       4      26       4      39      29
4395       4      34      15      12      19
6948       3      24      18      47      38
7906       2      15       8      26      41
8191       2      38      16      27      43
8899       2      19      15      34      25
9309       1      40      13       7      42