In [1]:
import pandas as p
from random import randint as r


columns = ['nom','age','genre','enseinte','fume']
m_noms = ['Max','Majid','Mark','Moeses','Mirza']
f_noms = ['Johana','Jalila','Judy','Jawaher','Jasmina','Jiji','Jala']

data = []
row = []
age = 0
for i in range(1,10000):
    gender = r(0,1)
    if gender == 0:
        age = r(15,70)
        row = [m_noms[r(0,4)],age,'Male',0,r(0,1)]
    elif gender == 1:
        age = r(15,70)
        if int(age)>37:
            row = [f_noms[r(0,6)],age,'Female',0,r(0,1)]
        else:
            row = [f_noms[r(0,6)],age,'Female',r(0,1),r(0,1)]
    data.append(row)

df = p.DataFrame(data,columns=columns)
df

          nom  age   genre  enseinte  fume
0        Judy   33  Female         0     0
1      Johana   65  Female         0     0
2       Majid   59    Male         0     0
3      Moeses   39    Male         0     1
4        Jiji   16  Female         0     1
5     Jawaher   40  Female         0     1
6        Jiji   56  Female         0     1
7     Jasmina   37  Female         0     0
8        Jala   15  Female         0     1
9        Jala   40  Female         0     1
10     Johana   17  Female         1     1
11      Mirza   28    Male         0     0
12    Jasmina   45  Female         0     1
13       Mark   46    Male         0     0
14       Jiji   23  Female         0     1
15       Judy   16  Female         0     1
16    Jasmina   69  Female         0     0
17       Judy   61  Female         0     1
18    Jasmina   47  Female         0     1
19     Jalila   48  Female         0     0
20      Majid   33    Male         0     0
21       Judy   24  Female         1     1
22     Johana   68  Female         0     0
23     Jalila   40  Female         0     1
24        Max   27    Male         0     0
25      Mirza   46    Male         0     0
26    Jasmina   24  Female         1     0
27       Mark   56    Male         0     0
28    Jasmina   27  Female         0     1
29      Mirza   35    Male         0     0
...       ...  ...     ...       ...   ...
9969   Moeses   60    Male         0     0
9970   Moeses   53    Male         0     0
9971   Johana   67  Female         0     1
9972      Max   36    Male         0     0
9973    Mirza   52    Male         0     0
9974      Max   41    Male         0     1
9975     Jiji   70  Female         0     1
9976     Mark   66    Male         0     0
9977     Jala   70  Female         0     0
9978     Jiji   32  Female         0     0
9979   Moeses   57    Male         0     0
9980    Majid   62    Male         0     1
9981   Johana   22  Female         1     0
9982  Jawaher   47  Female         0     0
9983   Jalila   33  Female         1     1
9984    Mirza   31    Male         0     1
9985  Jasmina   50  Female         0     1
9986   Johana   20  Female         1     0
9987     Jiji   59  Female         0     0
9988    Mirza   41    Male         0     1
9989   Jalila   69  Female         0     1
9990     Jiji   56  Female         0     0
9991  Jasmina   29  Female         1     0
9992     Jala   59  Female         0     1
9993     Mark   63    Male         0     0
9994   Moeses   58    Male         0     0
9995     Jala   70  Female         0     0
9996   Moeses   44    Male         0     0
9997   Moeses   56    Male         0     1
9998    Mirza   55    Male         0     0

[9999 rows x 5 columns]

In [2]:
df.shape

(9999, 5)

In [3]:
df_female = df[df.genre=='Female']
df_female

          nom  age   genre  enseinte  fume
0        Judy   33  Female         0     0
1      Johana   65  Female         0     0
4        Jiji   16  Female         0     1
5     Jawaher   40  Female         0     1
6        Jiji   56  Female         0     1
7     Jasmina   37  Female         0     0
8        Jala   15  Female         0     1
9        Jala   40  Female         0     1
10     Johana   17  Female         1     1
12    Jasmina   45  Female         0     1
14       Jiji   23  Female         0     1
15       Judy   16  Female         0     1
16    Jasmina   69  Female         0     0
17       Judy   61  Female         0     1
18    Jasmina   47  Female         0     1
19     Jalila   48  Female         0     0
21       Judy   24  Female         1     1
22     Johana   68  Female         0     0
23     Jalila   40  Female         0     1
26    Jasmina   24  Female         1     0
28    Jasmina   27  Female         0     1
30     Johana   40  Female         0     1
31     Jalila   60  Female         0     1
32     Johana   44  Female         0     1
33    Jawaher   35  Female         0     1
40    Jasmina   36  Female         1     0
41     Jalila   24  Female         1     0
45    Jawaher   29  Female         0     0
47     Johana   36  Female         1     1
48       Jala   43  Female         0     0
...       ...  ...     ...       ...   ...
9941     Jiji   60  Female         0     1
9942   Jalila   16  Female         1     0
9944   Johana   27  Female         0     0
9945     Jala   21  Female         1     0
9949     Jala   41  Female         0     1
9950     Judy   22  Female         0     1
9952  Jasmina   44  Female         0     0
9955     Jiji   43  Female         0     0
9956  Jasmina   43  Female         0     1
9958     Judy   17  Female         1     0
9959   Johana   28  Female         0     1
9961   Jalila   50  Female         0     1
9963  Jawaher   46  Female         0     0
9964  Jawaher   21  Female         0     1
9966   Jalila   70  Female         0     1
9971   Johana   67  Female         0     1
9975     Jiji   70  Female         0     1
9977     Jala   70  Female         0     0
9978     Jiji   32  Female         0     0
9981   Johana   22  Female         1     0
9982  Jawaher   47  Female         0     0
9983   Jalila   33  Female         1     1
9985  Jasmina   50  Female         0     1
9986   Johana   20  Female         1     0
9987     Jiji   59  Female         0     0
9989   Jalila   69  Female         0     1
9990     Jiji   56  Female         0     0
9991  Jasmina   29  Female         1     0
9992     Jala   59  Female         0     1
9995     Jala   70  Female         0     0

[4979 rows x 5 columns]

In [4]:
df_female.shape

(4979, 5)

In [5]:
df_female_37 = df.query('genre==\'Female\' & age <=37')

In [6]:
df_female_37

          nom  age   genre  enseinte  fume
0        Judy   33  Female         0     0
4        Jiji   16  Female         0     1
7     Jasmina   37  Female         0     0
8        Jala   15  Female         0     1
10     Johana   17  Female         1     1
14       Jiji   23  Female         0     1
15       Judy   16  Female         0     1
21       Judy   24  Female         1     1
26    Jasmina   24  Female         1     0
28    Jasmina   27  Female         0     1
33    Jawaher   35  Female         0     1
40    Jasmina   36  Female         1     0
41     Jalila   24  Female         1     0
45    Jawaher   29  Female         0     0
47     Johana   36  Female         1     1
58    Jasmina   19  Female         0     0
59    Jawaher   20  Female         0     0
73       Jala   21  Female         1     1
75       Jiji   22  Female         1     0
78       Jiji   17  Female         0     1
79    Jasmina   34  Female         1     1
81       Jiji   33  Female         1     1
87       Jala   19  Female         1     0
88    Jasmina   25  Female         1     0
89    Jawaher   16  Female         1     0
90       Jala   30  Female         1     1
97    Jawaher   26  Female         0     0
100   Jawaher   17  Female         1     1
108      Jiji   23  Female         1     1
111   Jasmina   21  Female         0     0
...       ...  ...     ...       ...   ...
9847     Jiji   24  Female         1     0
9850     Jiji   20  Female         1     1
9857     Jala   17  Female         0     0
9863     Judy   29  Female         1     0
9871   Johana   15  Female         0     1
9872     Judy   26  Female         0     0
9878     Jala   37  Female         0     1
9883   Jalila   27  Female         0     0
9886     Jala   31  Female         1     0
9913  Jasmina   30  Female         0     1
9917  Jasmina   33  Female         1     1
9924     Jala   18  Female         1     1
9925     Judy   32  Female         1     1
9927   Jalila   28  Female         0     1
9928   Johana   22  Female         0     1
9932     Jala   30  Female         0     0
9933  Jasmina   30  Female         1     1
9935  Jasmina   29  Female         1     0
9942   Jalila   16  Female         1     0
9944   Johana   27  Female         0     0
9945     Jala   21  Female         1     0
9950     Judy   22  Female         0     1
9958     Judy   17  Female         1     0
9959   Johana   28  Female         0     1
9964  Jawaher   21  Female         0     1
9978     Jiji   32  Female         0     0
9981   Johana   22  Female         1     0
9983   Jalila   33  Female         1     1
9986   Johana   20  Female         1     0
9991  Jasmina   29  Female         1     0

[2039 rows x 5 columns]

In [7]:
df_female_37.shape

(2039, 5)

In [8]:
df_female_37_ens_fume = df.query('genre==\'Female\' & age <=37 & enseinte==1 & fume==1')

In [9]:
df_female_37_ens_fume

          nom  age   genre  enseinte  fume
10     Johana   17  Female         1     1
21       Judy   24  Female         1     1
47     Johana   36  Female         1     1
73       Jala   21  Female         1     1
79    Jasmina   34  Female         1     1
81       Jiji   33  Female         1     1
90       Jala   30  Female         1     1
100   Jawaher   17  Female         1     1
108      Jiji   23  Female         1     1
131      Judy   18  Female         1     1
170    Jalila   33  Female         1     1
191      Judy   31  Female         1     1
231    Johana   15  Female         1     1
285      Jiji   17  Female         1     1
291    Jalila   32  Female         1     1
329      Judy   20  Female         1     1
333   Jasmina   21  Female         1     1
351      Judy   18  Female         1     1
363    Jalila   21  Female         1     1
370    Jalila   26  Female         1     1
374      Judy   32  Female         1     1
382      Jiji   28  Female         1     1
393      Judy   31  Female         1     1
395   Jasmina   18  Female         1     1
409      Jala   36  Female         1     1
452    Jalila   17  Female         1     1
475      Jala   19  Female         1     1
504      Judy   31  Female         1     1
509    Jalila   23  Female         1     1
572      Jiji   34  Female         1     1
...       ...  ...     ...       ...   ...
9498     Jala   20  Female         1     1
9501  Jasmina   32  Female         1     1
9507  Jasmina   17  Female         1     1
9534     Judy   34  Female         1     1
9542   Jalila   29  Female         1     1
9545     Judy   34  Female         1     1
9569  Jasmina   18  Female         1     1
9605   Jalila   18  Female         1     1
9673     Jiji   35  Female         1     1
9709   Johana   23  Female         1     1
9720     Jiji   15  Female         1     1
9742  Jawaher   35  Female         1     1
9743   Jalila   27  Female         1     1
9746   Johana   29  Female         1     1
9749  Jawaher   26  Female         1     1
9760  Jawaher   20  Female         1     1
9780     Judy   19  Female         1     1
9784     Jiji   30  Female         1     1
9786  Jawaher   17  Female         1     1
9787  Jasmina   20  Female         1     1
9800     Judy   17  Female         1     1
9802   Johana   34  Female         1     1
9838  Jawaher   18  Female         1     1
9846     Jala   33  Female         1     1
9850     Jiji   20  Female         1     1
9917  Jasmina   33  Female         1     1
9924     Jala   18  Female         1     1
9925     Judy   32  Female         1     1
9933  Jasmina   30  Female         1     1
9983   Jalila   33  Female         1     1

[496 rows x 5 columns]

In [10]:
df_female_37_ens_fume.shape

(496, 5)

In [12]:
df1 = df_female_37_ens_fume[['nom','age']]

In [13]:
df1

          nom  age
10     Johana   17
21       Judy   24
47     Johana   36
73       Jala   21
79    Jasmina   34
81       Jiji   33
90       Jala   30
100   Jawaher   17
108      Jiji   23
131      Judy   18
170    Jalila   33
191      Judy   31
231    Johana   15
285      Jiji   17
291    Jalila   32
329      Judy   20
333   Jasmina   21
351      Judy   18
363    Jalila   21
370    Jalila   26
374      Judy   32
382      Jiji   28
393      Judy   31
395   Jasmina   18
409      Jala   36
452    Jalila   17
475      Jala   19
504      Judy   31
509    Jalila   23
572      Jiji   34
...       ...  ...
9498     Jala   20
9501  Jasmina   32
9507  Jasmina   17
9534     Judy   34
9542   Jalila   29
9545     Judy   34
9569  Jasmina   18
9605   Jalila   18
9673     Jiji   35
9709   Johana   23
9720     Jiji   15
9742  Jawaher   35
9743   Jalila   27
9746   Johana   29
9749  Jawaher   26
9760  Jawaher   20
9780     Judy   19
9784     Jiji   30
9786  Jawaher   17
9787  Jasmina   20
9800     Judy   17
9802   Johana   34
9838  Jawaher   18
9846     Jala   33
9850     Jiji   20
9917  Jasmina   33
9924     Jala   18
9925     Judy   32
9933  Jasmina   30
9983   Jalila   33

[496 rows x 2 columns]