In [2]:
import pandas as p
from random import randint as r


columns = ['id','nom','age','genre']
m_noms = ['Max','Majid','Mark','Moeses','Mirza']
f_noms = ['Johana','Jalila','Judy','Jawaher','Jasmina','Jiji','Jala']

data = []
row = []
for i in range(1,10000):
    gender = r(0,1)
    if gender == 0:
        row = [i,m_noms[r(0,4)],r(15,70),'Male']
    elif gender == 1:
        row = [i,f_noms[r(0,6)],r(15,70),'Female']
    data.append(row)

df1 = p.DataFrame(data,columns=columns)


columns = ['id','post','emp_id']
posts= ['IT','RH','Finance','Production','Commercial']

data = []
row = []
for i in range(1,10000):
        row = [i,posts[r(0,4)],r(1,10000)]
        data.append(row)

df2 = p.DataFrame(data,columns=columns)
df2

        id        post  emp_id
0        1          IT    6148
1        2          IT     158
2        3          RH    5079
3        4  Commercial    8956
4        5          RH    4633
5        6          IT    8417
6        7  Commercial     446
7        8  Commercial    8088
8        9          RH    6335
9       10  Commercial    1205
10      11  Production    7237
11      12  Production    7186
12      13     Finance     996
13      14  Commercial    2892
14      15          RH    5414
15      16     Finance    9172
16      17          IT    3527
17      18  Production     936
18      19  Commercial    8075
19      20          IT    3580
20      21          IT    3183
21      22          IT    5186
22      23  Production    5485
23      24          RH    3063
24      25  Production    8227
25      26  Commercial    4212
26      27          RH    4580
27      28          IT    2779
28      29  Production    7724
29      30     Finance    6625
...    ...         ...     ...
9969  9970  Commercial    7726
9970  9971  Commercial    4445
9971  9972          IT    6407
9972  9973  Commercial    4818
9973  9974  Production    8734
9974  9975  Commercial    9611
9975  9976     Finance    5740
9976  9977          RH    6470
9977  9978  Production    6141
9978  9979          RH    2729
9979  9980          IT    8150
9980  9981  Commercial    2277
9981  9982          RH    5913
9982  9983          IT    9846
9983  9984  Production      75
9984  9985  Commercial    6978
9985  9986          IT    6696
9986  9987     Finance     327
9987  9988  Commercial    6333
9988  9989          IT    7184
9989  9990          RH    1497
9990  9991  Commercial    3928
9991  9992  Commercial    3183
9992  9993  Production    4665
9993  9994          RH    3932
9994  9995          RH    8705
9995  9996          IT    4870
9996  9997  Commercial    4221
9997  9998     Finance    4546
9998  9999          IT    6408

[9999 rows x 3 columns]

Fusion

In [3]:
resultat = p.merge(df1,df2, left_on='id',right_on='emp_id')

In [4]:
resultat

      id_x      nom  age   genre  id_y        post  emp_id
0        1   Johana   67  Female  3543  Commercial       1
1        1   Johana   67  Female  5359  Commercial       1
2        1   Johana   67  Female  6826  Commercial       1
3        3    Majid   16    Male  2594     Finance       3
4        4     Mark   16    Male  3637  Commercial       4
5        5  Jawaher   58  Female  1478          IT       5
6        5  Jawaher   58  Female  6468  Commercial       5
7        6   Johana   32  Female  3202     Finance       6
8        6   Johana   32  Female  8122  Production       6
9        7   Moeses   43    Male   232  Production       7
10       7   Moeses   43    Male  7407  Commercial       7
11      11   Johana   31  Female  4028  Production      11
12      12   Moeses   32    Male   936          IT      12
13      12   Moeses   32    Male  2401     Finance      12
14      12   Moeses   32    Male  8861     Finance      12
15      14      Max   38    Male  4443          RH      14
16      15  Jasmina   58  Female  6115  Production      15
17      17      Max   56    Male  2355          IT      17
18      17      Max   56    Male  3403          IT      17
19      17      Max   56    Male  3839     Finance      17
20      17      Max   56    Male  5405  Production      17
21      18  Jawaher   38  Female  3107          IT      18
22      19     Judy   34  Female  3055     Finance      19
23      19     Judy   34  Female  9007  Commercial      19
24      20     Jala   40  Female  6825  Commercial      20
25      22   Moeses   17    Male  9699          IT      22
26      23   Moeses   62    Male  8245  Commercial      23
27      24     Mark   41    Male  3501  Production      24
28      24     Mark   41    Male  4735  Commercial      24
29      24     Mark   41    Male  7696          RH      24
...    ...      ...  ...     ...   ...         ...     ...
9969  9969      Max   46    Male  8354  Commercial    9969
9970  9971   Jalila   21  Female  7332          RH    9971
9971  9972   Johana   18  Female  9787          RH    9972
9972  9974   Jalila   66  Female   285          RH    9974
9973  9974   Jalila   66  Female  5593          IT    9974
9974  9974   Jalila   66  Female  7307  Production    9974
9975  9975      Max   42    Male  6724          IT    9975
9976  9977     Jiji   69  Female  4186          RH    9977
9977  9977     Jiji   69  Female  8259          IT    9977
9978  9978    Majid   18    Male  7384          IT    9978
9979  9978    Majid   18    Male  8107  Commercial    9978
9980  9979   Moeses   41    Male  1684     Finance    9979
9981  9980   Jalila   59  Female   258  Commercial    9980
9982  9980   Jalila   59  Female   952          RH    9980
9983  9980   Jalila   59  Female  4261          IT    9980
9984  9981   Johana   66  Female    96  Production    9981
9985  9983  Jasmina   49  Female  7931  Production    9983
9986  9984    Mirza   32    Male  9801  Production    9984
9987  9985     Mark   22    Male  2882          RH    9985
9988  9985     Mark   22    Male  5072     Finance    9985
9989  9987   Johana   47  Female  8453  Production    9987
9990  9987   Johana   47  Female  9326  Production    9987
9991  9988    Mirza   23    Male   153     Finance    9988
9992  9988    Mirza   23    Male  2343          RH    9988
9993  9988    Mirza   23    Male  3302          RH    9988
9994  9990   Johana   25  Female  5203          RH    9990
9995  9994      Max   37    Male  9408  Commercial    9994
9996  9996     Mark   16    Male  1163  Production    9996
9997  9996     Mark   16    Male  3688          IT    9996
9998  9999     Mark   51    Male  4766     Finance    9999

[9999 rows x 7 columns]